<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jeesite.modules.test.mapper.JsFilemanagerSharedMapper" >
  <resultMap id="BaseResultMap" type="com.jeesite.modules.test.entity.JsFilemanagerShared" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="folder_id" property="folderId" jdbcType="VARCHAR" />
    <result column="file_upload_id" property="fileUploadId" jdbcType="VARCHAR" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="receive_user_code" property="receiveUserCode" jdbcType="VARCHAR" />
    <result column="receive_user_name" property="receiveUserName" jdbcType="VARCHAR" />
    <result column="click_num" property="clickNum" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, folder_id, file_upload_id, file_name, receive_user_code, receive_user_name, click_num, 
    status, create_by, create_date, update_by, update_date, remarks
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from js_filemanager_shared
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from js_filemanager_shared
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jeesite.modules.test.entity.JsFilemanagerShared" >
    insert into js_filemanager_shared (id, folder_id, file_upload_id, 
      file_name, receive_user_code, receive_user_name, 
      click_num, status, create_by, 
      create_date, update_by, update_date, 
      remarks)
    values (#{id,jdbcType=VARCHAR}, #{folderId,jdbcType=VARCHAR}, #{fileUploadId,jdbcType=VARCHAR}, 
      #{fileName,jdbcType=VARCHAR}, #{receiveUserCode,jdbcType=VARCHAR}, #{receiveUserName,jdbcType=VARCHAR}, 
      #{clickNum,jdbcType=DECIMAL}, #{status,jdbcType=CHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jeesite.modules.test.entity.JsFilemanagerShared" >
    insert into js_filemanager_shared
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="folderId != null" >
        folder_id,
      </if>
      <if test="fileUploadId != null" >
        file_upload_id,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="receiveUserCode != null" >
        receive_user_code,
      </if>
      <if test="receiveUserName != null" >
        receive_user_name,
      </if>
      <if test="clickNum != null" >
        click_num,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="folderId != null" >
        #{folderId,jdbcType=VARCHAR},
      </if>
      <if test="fileUploadId != null" >
        #{fileUploadId,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="receiveUserCode != null" >
        #{receiveUserCode,jdbcType=VARCHAR},
      </if>
      <if test="receiveUserName != null" >
        #{receiveUserName,jdbcType=VARCHAR},
      </if>
      <if test="clickNum != null" >
        #{clickNum,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jeesite.modules.test.entity.JsFilemanagerShared" >
    update js_filemanager_shared
    <set >
      <if test="folderId != null" >
        folder_id = #{folderId,jdbcType=VARCHAR},
      </if>
      <if test="fileUploadId != null" >
        file_upload_id = #{fileUploadId,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="receiveUserCode != null" >
        receive_user_code = #{receiveUserCode,jdbcType=VARCHAR},
      </if>
      <if test="receiveUserName != null" >
        receive_user_name = #{receiveUserName,jdbcType=VARCHAR},
      </if>
      <if test="clickNum != null" >
        click_num = #{clickNum,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jeesite.modules.test.entity.JsFilemanagerShared" >
    update js_filemanager_shared
    set folder_id = #{folderId,jdbcType=VARCHAR},
      file_upload_id = #{fileUploadId,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      receive_user_code = #{receiveUserCode,jdbcType=VARCHAR},
      receive_user_name = #{receiveUserName,jdbcType=VARCHAR},
      click_num = #{clickNum,jdbcType=DECIMAL},
      status = #{status,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>