<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jeesite.modules.test.mapper.JsJobCalendarsMapper" >
  <resultMap id="BaseResultMap" type="com.jeesite.modules.test.entity.JsJobCalendars" >
    <id column="SCHED_NAME" property="schedName" jdbcType="VARCHAR" />
    <id column="CALENDAR_NAME" property="calendarName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.jeesite.modules.test.entity.JsJobCalendars" extends="BaseResultMap" >
    <result column="CALENDAR" property="calendar" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Base_Column_List" >
    SCHED_NAME, CALENDAR_NAME
  </sql>
  <sql id="Blob_Column_List" >
    CALENDAR
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="com.jeesite.modules.test.entity.JsJobCalendarsKey" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from js_job_CALENDARS
    where SCHED_NAME = #{schedName,jdbcType=VARCHAR}
      and CALENDAR_NAME = #{calendarName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.jeesite.modules.test.entity.JsJobCalendarsKey" >
    delete from js_job_CALENDARS
    where SCHED_NAME = #{schedName,jdbcType=VARCHAR}
      and CALENDAR_NAME = #{calendarName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jeesite.modules.test.entity.JsJobCalendars" >
    insert into js_job_CALENDARS (SCHED_NAME, CALENDAR_NAME, CALENDAR
      )
    values (#{schedName,jdbcType=VARCHAR}, #{calendarName,jdbcType=VARCHAR}, #{calendar,jdbcType=LONGVARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jeesite.modules.test.entity.JsJobCalendars" >
    insert into js_job_CALENDARS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="schedName != null" >
        SCHED_NAME,
      </if>
      <if test="calendarName != null" >
        CALENDAR_NAME,
      </if>
      <if test="calendar != null" >
        CALENDAR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="schedName != null" >
        #{schedName,jdbcType=VARCHAR},
      </if>
      <if test="calendarName != null" >
        #{calendarName,jdbcType=VARCHAR},
      </if>
      <if test="calendar != null" >
        #{calendar,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jeesite.modules.test.entity.JsJobCalendars" >
    update js_job_CALENDARS
    <set >
      <if test="calendar != null" >
        CALENDAR = #{calendar,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where SCHED_NAME = #{schedName,jdbcType=VARCHAR}
      and CALENDAR_NAME = #{calendarName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jeesite.modules.test.entity.JsJobCalendars" >
    update js_job_CALENDARS
    set CALENDAR = #{calendar,jdbcType=LONGVARBINARY}
    where SCHED_NAME = #{schedName,jdbcType=VARCHAR}
      and CALENDAR_NAME = #{calendarName,jdbcType=VARCHAR}
  </update>
</mapper>