<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jeesite.modules.test.mapper.JsSysMemberMapper" >
  <resultMap id="BaseResultMap" type="com.jeesite.modules.test.entity.JsSysMember" >
    <id column="serial_number" property="serialNumber" jdbcType="VARCHAR" />
    <result column="account_number" property="accountNumber" jdbcType="VARCHAR" />
    <result column="organ_name" property="organName" jdbcType="VARCHAR" />
    <result column="organ_class" property="organClass" jdbcType="VARCHAR" />
    <result column="member_grade" property="memberGrade" jdbcType="CHAR" />
    <result column="member_createtime" property="memberCreatetime" jdbcType="TIMESTAMP" />
    <result column="member_overtime" property="memberOvertime" jdbcType="VARCHAR" />
    <result column="organ_address" property="organAddress" jdbcType="VARCHAR" />
    <result column="detail_address" property="detailAddress" jdbcType="VARCHAR" />
    <result column="organ_phone" property="organPhone" jdbcType="VARCHAR" />
    <result column="organ_man" property="organMan" jdbcType="VARCHAR" />
    <result column="organ_manphone" property="organManphone" jdbcType="VARCHAR" />
    <result column="organ_hava" property="organHava" jdbcType="VARCHAR" />
    <result column="reserve_field1" property="reserveField1" jdbcType="VARCHAR" />
    <result column="reserve_dield2" property="reserveDield2" jdbcType="VARCHAR" />
    <result column="match_update" property="matchUpdate" jdbcType="DATE" />
    <result column="match_onedate" property="matchOnedate" jdbcType="DATE" />
    <result column="match_longitude" property="matchLongitude" jdbcType="DOUBLE" />
    <result column="match_latitude" property="matchLatitude" jdbcType="DOUBLE" />
    <result column="clue_count" property="clueCount" jdbcType="INTEGER" />
    <result column="ai_times" property="aiTimes" jdbcType="INTEGER" />
    <result column="user_code" property="userCode" jdbcType="VARCHAR" />
    <result column="up_isEffective" property="upIseffective" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    serial_number, account_number, organ_name, organ_class, member_grade, member_createtime, 
    member_overtime, organ_address, detail_address, organ_phone, organ_man, organ_manphone, 
    organ_hava, reserve_field1, reserve_dield2, match_update, match_onedate, match_longitude, 
    match_latitude, clue_count, ai_times, user_code, up_isEffective
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from js_sys_member
    where serial_number = #{serialNumber,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from js_sys_member
    where serial_number = #{serialNumber,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jeesite.modules.test.entity.JsSysMember" >
    insert into js_sys_member (serial_number, account_number, organ_name, 
      organ_class, member_grade, member_createtime, 
      member_overtime, organ_address, detail_address, 
      organ_phone, organ_man, organ_manphone, 
      organ_hava, reserve_field1, reserve_dield2, 
      match_update, match_onedate, match_longitude, 
      match_latitude, clue_count, ai_times, 
      user_code, up_isEffective)

    values (#{serialNumber,jdbcType=VARCHAR}, #{accountNumber,jdbcType=VARCHAR}, #{organName,jdbcType=VARCHAR}, 
      #{organClass,jdbcType=VARCHAR}, #{memberGrade,jdbcType=CHAR}, #{memberCreatetime,jdbcType=TIMESTAMP}, 
      #{memberOvertime,jdbcType=VARCHAR}, #{organAddress,jdbcType=VARCHAR}, #{detailAddress,jdbcType=VARCHAR}, 
      #{organPhone,jdbcType=VARCHAR}, #{organMan,jdbcType=VARCHAR}, #{organManphone,jdbcType=VARCHAR}, 
      #{organHava,jdbcType=VARCHAR}, #{reserveField1,jdbcType=VARCHAR}, #{reserveDield2,jdbcType=VARCHAR}, 
      #{matchUpdate,jdbcType=DATE}, #{matchOnedate,jdbcType=DATE}, #{matchLongitude,jdbcType=DOUBLE}, 
      #{matchLatitude,jdbcType=DOUBLE}, #{clueCount,jdbcType=INTEGER}, #{aiTimes,jdbcType=INTEGER}, 
      #{userCode,jdbcType=VARCHAR}, #{upIseffective,jdbcType=CHAR})

  </insert>
  <insert id="insertSelective" parameterType="com.jeesite.modules.test.entity.JsSysMember" >
    insert into js_sys_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serialNumber != null" >
        serial_number,
      </if>
      <if test="accountNumber != null" >
        account_number,
      </if>
      <if test="organName != null" >
        organ_name,
      </if>
      <if test="organClass != null" >
        organ_class,
      </if>
      <if test="memberGrade != null" >
        member_grade,
      </if>
      <if test="memberCreatetime != null" >
        member_createtime,
      </if>
      <if test="memberOvertime != null" >
        member_overtime,
      </if>
      <if test="organAddress != null" >
        organ_address,
      </if>
      <if test="detailAddress != null" >
        detail_address,
      </if>
      <if test="organPhone != null" >
        organ_phone,
      </if>
      <if test="organMan != null" >
        organ_man,
      </if>
      <if test="organManphone != null" >
        organ_manphone,
      </if>
      <if test="organHava != null" >
        organ_hava,
      </if>
      <if test="reserveField1 != null" >
        reserve_field1,
      </if>
      <if test="reserveDield2 != null" >
        reserve_dield2,
      </if>
      <if test="matchUpdate != null" >
        match_update,
      </if>
      <if test="matchOnedate != null" >
        match_onedate,
      </if>
      <if test="matchLongitude != null" >
        match_longitude,
      </if>
      <if test="matchLatitude != null" >
        match_latitude,
      </if>
      <if test="clueCount != null" >
        clue_count,
      </if>
      <if test="aiTimes != null" >
        ai_times,
      </if>
      <if test="userCode != null" >
        user_code,
      </if>
      <if test="upIseffective != null" >
        up_isEffective,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serialNumber != null" >
        #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="accountNumber != null" >
        #{accountNumber,jdbcType=VARCHAR},
      </if>
      <if test="organName != null" >
        #{organName,jdbcType=VARCHAR},
      </if>
      <if test="organClass != null" >
        #{organClass,jdbcType=VARCHAR},
      </if>
      <if test="memberGrade != null" >
        #{memberGrade,jdbcType=CHAR},
      </if>
      <if test="memberCreatetime != null" >
        #{memberCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberOvertime != null" >
        #{memberOvertime,jdbcType=VARCHAR},
      </if>
      <if test="organAddress != null" >
        #{organAddress,jdbcType=VARCHAR},
      </if>
      <if test="detailAddress != null" >
        #{detailAddress,jdbcType=VARCHAR},
      </if>
      <if test="organPhone != null" >
        #{organPhone,jdbcType=VARCHAR},
      </if>
      <if test="organMan != null" >
        #{organMan,jdbcType=VARCHAR},
      </if>
      <if test="organManphone != null" >
        #{organManphone,jdbcType=VARCHAR},
      </if>
      <if test="organHava != null" >
        #{organHava,jdbcType=VARCHAR},
      </if>
      <if test="reserveField1 != null" >
        #{reserveField1,jdbcType=VARCHAR},
      </if>
      <if test="reserveDield2 != null" >
        #{reserveDield2,jdbcType=VARCHAR},
      </if>
      <if test="matchUpdate != null" >
        #{matchUpdate,jdbcType=DATE},
      </if>
      <if test="matchOnedate != null" >
        #{matchOnedate,jdbcType=DATE},
      </if>
      <if test="matchLongitude != null" >
        #{matchLongitude,jdbcType=DOUBLE},
      </if>
      <if test="matchLatitude != null" >
        #{matchLatitude,jdbcType=DOUBLE},
      </if>
      <if test="clueCount != null" >
        #{clueCount,jdbcType=INTEGER},
      </if>
      <if test="aiTimes != null" >
        #{aiTimes,jdbcType=INTEGER},
      </if>
      <if test="userCode != null" >
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="upIseffective != null" >
        #{upIseffective,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jeesite.modules.test.entity.JsSysMember" >
    update js_sys_member
    <set >
      <if test="accountNumber != null" >
        account_number = #{accountNumber,jdbcType=VARCHAR},
      </if>
      <if test="organName != null" >
        organ_name = #{organName,jdbcType=VARCHAR},
      </if>
      <if test="organClass != null" >
        organ_class = #{organClass,jdbcType=VARCHAR},
      </if>
      <if test="memberGrade != null" >
        member_grade = #{memberGrade,jdbcType=CHAR},
      </if>
      <if test="memberCreatetime != null" >
        member_createtime = #{memberCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberOvertime != null" >
        member_overtime = #{memberOvertime,jdbcType=VARCHAR},
      </if>
      <if test="organAddress != null" >
        organ_address = #{organAddress,jdbcType=VARCHAR},
      </if>
      <if test="detailAddress != null" >
        detail_address = #{detailAddress,jdbcType=VARCHAR},
      </if>
      <if test="organPhone != null" >
        organ_phone = #{organPhone,jdbcType=VARCHAR},
      </if>
      <if test="organMan != null" >
        organ_man = #{organMan,jdbcType=VARCHAR},
      </if>
      <if test="organManphone != null" >
        organ_manphone = #{organManphone,jdbcType=VARCHAR},
      </if>
      <if test="organHava != null" >
        organ_hava = #{organHava,jdbcType=VARCHAR},
      </if>
      <if test="reserveField1 != null" >
        reserve_field1 = #{reserveField1,jdbcType=VARCHAR},
      </if>
      <if test="reserveDield2 != null" >
        reserve_dield2 = #{reserveDield2,jdbcType=VARCHAR},
      </if>
      <if test="matchUpdate != null" >
        match_update = #{matchUpdate,jdbcType=DATE},
      </if>
      <if test="matchOnedate != null" >
        match_onedate = #{matchOnedate,jdbcType=DATE},
      </if>
      <if test="matchLongitude != null" >
        match_longitude = #{matchLongitude,jdbcType=DOUBLE},
      </if>
      <if test="matchLatitude != null" >
        match_latitude = #{matchLatitude,jdbcType=DOUBLE},
      </if>
      <if test="clueCount != null" >
        clue_count = #{clueCount,jdbcType=INTEGER},
      </if>
      <if test="aiTimes != null" >
        ai_times = #{aiTimes,jdbcType=INTEGER},
      </if>
      <if test="userCode != null" >
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="upIseffective != null" >
        up_isEffective = #{upIseffective,jdbcType=CHAR},
      </if>
    </set>
    where serial_number = #{serialNumber,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jeesite.modules.test.entity.JsSysMember" >
    update js_sys_member
    set account_number = #{accountNumber,jdbcType=VARCHAR},
      organ_name = #{organName,jdbcType=VARCHAR},
      organ_class = #{organClass,jdbcType=VARCHAR},
      member_grade = #{memberGrade,jdbcType=CHAR},
      member_createtime = #{memberCreatetime,jdbcType=TIMESTAMP},
      member_overtime = #{memberOvertime,jdbcType=VARCHAR},
      organ_address = #{organAddress,jdbcType=VARCHAR},
      detail_address = #{detailAddress,jdbcType=VARCHAR},
      organ_phone = #{organPhone,jdbcType=VARCHAR},
      organ_man = #{organMan,jdbcType=VARCHAR},
      organ_manphone = #{organManphone,jdbcType=VARCHAR},
      organ_hava = #{organHava,jdbcType=VARCHAR},
      reserve_field1 = #{reserveField1,jdbcType=VARCHAR},
      reserve_dield2 = #{reserveDield2,jdbcType=VARCHAR},
      match_update = #{matchUpdate,jdbcType=DATE},
      match_onedate = #{matchOnedate,jdbcType=DATE},
      match_longitude = #{matchLongitude,jdbcType=DOUBLE},
      match_latitude = #{matchLatitude,jdbcType=DOUBLE},
      clue_count = #{clueCount,jdbcType=INTEGER},
      ai_times = #{aiTimes,jdbcType=INTEGER},
      user_code = #{userCode,jdbcType=VARCHAR},
      up_isEffective = #{upIseffective,jdbcType=CHAR}
    where serial_number = #{serialNumber,jdbcType=VARCHAR}
  </update>
  <select id="selectAllMember" resultMap="BaseResultMap" parameterType="com.jeesite.modules.test.vo.MemberVo" >
    select 
    <include refid="Base_Column_List" />
    from js_sys_member where 1=1
    <if test="startTime!=null and startTime!=''">
      and DATE(member_overtime) <![CDATA[ >= ]]> DATE(#{startTime})
    </if>
    <if test="endTime!=null and endTime!=''">
      and DATE(member_overtime) <![CDATA[ <= ]]> DATE(#{endTime})
    </if>
    <if test="organName!=null and organName!=''">
      and organ_name like '%${organName}%'
    </if>
    <if test="memberGrade!=null and memberGrade!=''">
      and member_grade = #{memberGrade}
    </if>
  </select>
  <select id="selectMemberByNumber" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from js_sys_member
    where account_number = #{accountNumber,jdbcType=VARCHAR}
  </select>
  <select id="getClueMatchUser" resultMap="BaseResultMap" parameterType="com.jeesite.modules.test.entity.JsSysMember">
  	select 
  	<include refid="Base_Column_List" />
    from js_sys_member 
    where member_grade &gt; 0
    and up_isEffective = '1'
  </select>
  <select id="getDeptType" resultType="java.lang.String" parameterType="java.lang.String">
  	select organ_class from js_sys_member where  user_code = #{loginCode}
  </select>
  <update id="updateOnedate" >
  	update js_sys_member
  	set match_onedate = #{0}
  	where user_code = #{1}
  </update>
  <update id="updateAiTimes" >
  	update js_sys_member
  	set ai_times = #{0}
  	where user_code = #{1}
  </update>
  <select id="getNoConfigAddress" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from js_sys_member 
    where match_longitude = "" || match_longitude is null
  </select>
  <select id="getMemberByAccountCode" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select
  	<include refid="Base_Column_List" />
  	from js_sys_member
  	where user_code = #{userCode}
  </select>
  <select id="findMemberNum" resultType="java.lang.Integer">
  	SELECT COUNT(*) from js_sys_member;
  </select>
  <select id="findClueNum" resultType="java.lang.Integer">
    SELECT SUM(clue_count) from js_sys_member;
  </select>
  <select id="findMemberNumByMonth" resultType="java.lang.Integer">
    SELECT COUNT(*) from js_sys_member where DATE_FORMAT(member_createtime, '%Y-%m')=DATE_FORMAT(NOW(), '%Y-%m');
  </select>
  <select id="findClueNumByMonth" resultType="java.lang.Integer">
    SELECT COUNT(*) from up_clue where DATE_FORMAT(up_clue_time, '%Y-%m')=DATE_FORMAT(NOW(), '%Y-%m');
  </select>
 
</mapper>