<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jeesite.modules.test.mapper.JsSysProblemMapper" >
  <resultMap id="BaseResultMap" type="com.jeesite.modules.test.entity.JsSysProblem" >
    <id column="serial_num" property="serialNum" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="represent" property="represent" jdbcType="VARCHAR" />
    <result column="reserve1" property="reserve1" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    serial_num, title, create_time, represent, reserve1
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from js_sys_problem
    where serial_num = #{serialNum,jdbcType=VARCHAR}
  </select>
  <select id="findProByLimit" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from js_sys_problem
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from js_sys_problem
    where serial_num = #{serialNum,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jeesite.modules.test.entity.JsSysProblem" >
    insert into js_sys_problem (serial_num, title, create_time, 
      represent, reserve1)
    values (#{serialNum,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{represent,jdbcType=VARCHAR}, #{reserve1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jeesite.modules.test.entity.JsSysProblem" >
    insert into js_sys_problem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        serial_num,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="represent != null" >
        represent,
      </if>
      <if test="reserve1 != null" >
        reserve1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        #{serialNum,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="represent != null" >
        #{represent,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null" >
        #{reserve1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jeesite.modules.test.entity.JsSysProblem" >
    update js_sys_problem
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="represent != null" >
        represent = #{represent,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null" >
        reserve1 = #{reserve1,jdbcType=VARCHAR},
      </if>
    </set>
    where serial_num = #{serialNum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jeesite.modules.test.entity.JsSysProblem" >
    update js_sys_problem
    set title = #{title,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      represent = #{represent,jdbcType=VARCHAR},
      reserve1 = #{reserve1,jdbcType=VARCHAR}
    where serial_num = #{serialNum,jdbcType=VARCHAR}
  </update>
</mapper>