<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jeesite.modules.test.mapper.TestTreeMapper" >
  <resultMap id="BaseResultMap" type="com.jeesite.modules.test.entity.TestTree" >
    <id column="tree_code" property="treeCode" jdbcType="VARCHAR" />
    <result column="parent_code" property="parentCode" jdbcType="VARCHAR" />
    <result column="parent_codes" property="parentCodes" jdbcType="VARCHAR" />
    <result column="tree_sort" property="treeSort" jdbcType="DECIMAL" />
    <result column="tree_sorts" property="treeSorts" jdbcType="VARCHAR" />
    <result column="tree_leaf" property="treeLeaf" jdbcType="CHAR" />
    <result column="tree_level" property="treeLevel" jdbcType="DECIMAL" />
    <result column="tree_names" property="treeNames" jdbcType="VARCHAR" />
    <result column="tree_name" property="treeName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    tree_code, parent_code, parent_codes, tree_sort, tree_sorts, tree_leaf, tree_level, 
    tree_names, tree_name, status, create_by, create_date, update_by, update_date, remarks
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from test_tree
    where tree_code = #{treeCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from test_tree
    where tree_code = #{treeCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jeesite.modules.test.entity.TestTree" >
    insert into test_tree (tree_code, parent_code, parent_codes, 
      tree_sort, tree_sorts, tree_leaf, 
      tree_level, tree_names, tree_name, 
      status, create_by, create_date, 
      update_by, update_date, remarks
      )
    values (#{treeCode,jdbcType=VARCHAR}, #{parentCode,jdbcType=VARCHAR}, #{parentCodes,jdbcType=VARCHAR}, 
      #{treeSort,jdbcType=DECIMAL}, #{treeSorts,jdbcType=VARCHAR}, #{treeLeaf,jdbcType=CHAR}, 
      #{treeLevel,jdbcType=DECIMAL}, #{treeNames,jdbcType=VARCHAR}, #{treeName,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jeesite.modules.test.entity.TestTree" >
    insert into test_tree
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="treeCode != null" >
        tree_code,
      </if>
      <if test="parentCode != null" >
        parent_code,
      </if>
      <if test="parentCodes != null" >
        parent_codes,
      </if>
      <if test="treeSort != null" >
        tree_sort,
      </if>
      <if test="treeSorts != null" >
        tree_sorts,
      </if>
      <if test="treeLeaf != null" >
        tree_leaf,
      </if>
      <if test="treeLevel != null" >
        tree_level,
      </if>
      <if test="treeNames != null" >
        tree_names,
      </if>
      <if test="treeName != null" >
        tree_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="treeCode != null" >
        #{treeCode,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null" >
        #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="parentCodes != null" >
        #{parentCodes,jdbcType=VARCHAR},
      </if>
      <if test="treeSort != null" >
        #{treeSort,jdbcType=DECIMAL},
      </if>
      <if test="treeSorts != null" >
        #{treeSorts,jdbcType=VARCHAR},
      </if>
      <if test="treeLeaf != null" >
        #{treeLeaf,jdbcType=CHAR},
      </if>
      <if test="treeLevel != null" >
        #{treeLevel,jdbcType=DECIMAL},
      </if>
      <if test="treeNames != null" >
        #{treeNames,jdbcType=VARCHAR},
      </if>
      <if test="treeName != null" >
        #{treeName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jeesite.modules.test.entity.TestTree" >
    update test_tree
    <set >
      <if test="parentCode != null" >
        parent_code = #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="parentCodes != null" >
        parent_codes = #{parentCodes,jdbcType=VARCHAR},
      </if>
      <if test="treeSort != null" >
        tree_sort = #{treeSort,jdbcType=DECIMAL},
      </if>
      <if test="treeSorts != null" >
        tree_sorts = #{treeSorts,jdbcType=VARCHAR},
      </if>
      <if test="treeLeaf != null" >
        tree_leaf = #{treeLeaf,jdbcType=CHAR},
      </if>
      <if test="treeLevel != null" >
        tree_level = #{treeLevel,jdbcType=DECIMAL},
      </if>
      <if test="treeNames != null" >
        tree_names = #{treeNames,jdbcType=VARCHAR},
      </if>
      <if test="treeName != null" >
        tree_name = #{treeName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where tree_code = #{treeCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jeesite.modules.test.entity.TestTree" >
    update test_tree
    set parent_code = #{parentCode,jdbcType=VARCHAR},
      parent_codes = #{parentCodes,jdbcType=VARCHAR},
      tree_sort = #{treeSort,jdbcType=DECIMAL},
      tree_sorts = #{treeSorts,jdbcType=VARCHAR},
      tree_leaf = #{treeLeaf,jdbcType=CHAR},
      tree_level = #{treeLevel,jdbcType=DECIMAL},
      tree_names = #{treeNames,jdbcType=VARCHAR},
      tree_name = #{treeName,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR}
    where tree_code = #{treeCode,jdbcType=VARCHAR}
  </update>
</mapper>