<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeesite.modules.clue.mapper.UpAiinfoMapper">
  <resultMap id="BaseResultMap" type="com.jeesite.modules.clue.entity.UpAiinfo">
    <id column="up_id" jdbcType="VARCHAR" property="upId" />
    <result column="up_aicode" jdbcType="VARCHAR" property="upAicode" />
    <result column="up_aiappraise" jdbcType="CHAR" property="upAiappraise" />
    <result column="up_aistatus" jdbcType="CHAR" property="upAistatus" />
    <result column="up_usercode" jdbcType="VARCHAR" property="upUsercode" />
    <result column="up_aitimes" jdbcType="INTEGER" property="upAitimes" />
    <result column="up_aicreatetime" jdbcType="TIMESTAMP" property="upAicreatetime" />
    <result column="up_aiexecutetime" jdbcType="TIMESTAMP" property="upAiexecutetime" />
    <result column="up_aipersontime" jdbcType="TIMESTAMP" property="upAipersontime" />
    <result column="up_aitaskid" jdbcType="VARCHAR" property="upAitaskid" />
    <result column="up_aiphone" jdbcType="VARCHAR" property="upAiphone" />
    <result column="extra1" jdbcType="VARCHAR" property="extra1" />
    <result column="extra2" jdbcType="VARCHAR" property="extra2" />
    <result column="extra3" jdbcType="VARCHAR" property="extra3" />
    <result column="extra4" jdbcType="VARCHAR" property="extra4" />
    <result column="extra5" jdbcType="VARCHAR" property="extra5" />
    <result column="up_cluename" jdbcType="VARCHAR" property="upCluename" />
    <result column="up_aipersonendtime" jdbcType="TIMESTAMP" property="upAipersonendtime" />
    <result column="up_aiendtime" jdbcType="TIMESTAMP" property="upAiendtime" />
    <result column="up_talktime" jdbcType="INTEGER" property="upTalktime" />
  </resultMap>
  <sql id="Base_Column_List">
    up_id, up_aicode, up_aiappraise, up_aistatus, up_usercode, up_aitimes, up_aicreatetime, 
    up_aiexecutetime, up_aipersontime, up_aitaskid, up_aiphone, extra1, extra2, extra3, 
    extra4, extra5, up_cluename, up_aipersonendtime, up_aiendtime, up_talktime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from up_aiInfo
    where up_id = #{upId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from up_aiInfo
    where up_id = #{upId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jeesite.modules.clue.entity.UpAiinfo">
    insert into up_aiInfo (up_id, up_aicode, up_aiappraise, 
      up_aistatus, up_usercode, up_aitimes, 
      up_aicreatetime, up_aiexecutetime, up_aipersontime, 
      up_aitaskid, up_aiphone, extra1, 
      extra2, extra3, extra4, 
      extra5, up_cluename, up_aipersonendtime, 
      up_aiendtime, up_talktime)
    values (#{upId,jdbcType=VARCHAR}, #{upAicode,jdbcType=VARCHAR}, #{upAiappraise,jdbcType=CHAR}, 
      #{upAistatus,jdbcType=CHAR}, #{upUsercode,jdbcType=VARCHAR}, #{upAitimes,jdbcType=INTEGER}, 
      #{upAicreatetime,jdbcType=TIMESTAMP}, #{upAiexecutetime,jdbcType=TIMESTAMP}, #{upAipersontime,jdbcType=TIMESTAMP}, 
      #{upAitaskid,jdbcType=VARCHAR}, #{upAiphone,jdbcType=VARCHAR}, #{extra1,jdbcType=VARCHAR}, 
      #{extra2,jdbcType=VARCHAR}, #{extra3,jdbcType=VARCHAR}, #{extra4,jdbcType=VARCHAR}, 
      #{extra5,jdbcType=VARCHAR}, #{upCluename,jdbcType=VARCHAR}, #{upAipersonendtime,jdbcType=TIMESTAMP}, 
      #{upAiendtime,jdbcType=TIMESTAMP}, #{upTalktime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jeesite.modules.clue.entity.UpAiinfo">
    insert into up_aiInfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="upId != null">
        up_id,
      </if>
      <if test="upAicode != null">
        up_aicode,
      </if>
      <if test="upAiappraise != null">
        up_aiappraise,
      </if>
      <if test="upAistatus != null">
        up_aistatus,
      </if>
      <if test="upUsercode != null">
        up_usercode,
      </if>
      <if test="upAitimes != null">
        up_aitimes,
      </if>
      <if test="upAicreatetime != null">
        up_aicreatetime,
      </if>
      <if test="upAiexecutetime != null">
        up_aiexecutetime,
      </if>
      <if test="upAipersontime != null">
        up_aipersontime,
      </if>
      <if test="upAitaskid != null">
        up_aitaskid,
      </if>
      <if test="upAiphone != null">
        up_aiphone,
      </if>
      <if test="extra1 != null">
        extra1,
      </if>
      <if test="extra2 != null">
        extra2,
      </if>
      <if test="extra3 != null">
        extra3,
      </if>
      <if test="extra4 != null">
        extra4,
      </if>
      <if test="extra5 != null">
        extra5,
      </if>
      <if test="upCluename != null">
        up_cluename,
      </if>
      <if test="upAipersonendtime != null">
        up_aipersonendtime,
      </if>
      <if test="upAiendtime != null">
        up_aiendtime,
      </if>
      <if test="upTalktime != null">
        up_talktime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="upId != null">
        #{upId,jdbcType=VARCHAR},
      </if>
      <if test="upAicode != null">
        #{upAicode,jdbcType=VARCHAR},
      </if>
      <if test="upAiappraise != null">
        #{upAiappraise,jdbcType=CHAR},
      </if>
      <if test="upAistatus != null">
        #{upAistatus,jdbcType=CHAR},
      </if>
      <if test="upUsercode != null">
        #{upUsercode,jdbcType=VARCHAR},
      </if>
      <if test="upAitimes != null">
        #{upAitimes,jdbcType=INTEGER},
      </if>
      <if test="upAicreatetime != null">
        #{upAicreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="upAiexecutetime != null">
        #{upAiexecutetime,jdbcType=TIMESTAMP},
      </if>
      <if test="upAipersontime != null">
        #{upAipersontime,jdbcType=TIMESTAMP},
      </if>
      <if test="upAitaskid != null">
        #{upAitaskid,jdbcType=VARCHAR},
      </if>
      <if test="upAiphone != null">
        #{upAiphone,jdbcType=VARCHAR},
      </if>
      <if test="extra1 != null">
        #{extra1,jdbcType=VARCHAR},
      </if>
      <if test="extra2 != null">
        #{extra2,jdbcType=VARCHAR},
      </if>
      <if test="extra3 != null">
        #{extra3,jdbcType=VARCHAR},
      </if>
      <if test="extra4 != null">
        #{extra4,jdbcType=VARCHAR},
      </if>
      <if test="extra5 != null">
        #{extra5,jdbcType=VARCHAR},
      </if>
      <if test="upCluename != null">
        #{upCluename,jdbcType=VARCHAR},
      </if>
      <if test="upAipersonendtime != null">
        #{upAipersonendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="upAiendtime != null">
        #{upAiendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="upTalktime != null">
        #{upTalktime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jeesite.modules.clue.entity.UpAiinfo">
    update up_aiInfo
    <set>
      <if test="upAicode != null">
        up_aicode = #{upAicode,jdbcType=VARCHAR},
      </if>
      <if test="upAiappraise != null">
        up_aiappraise = #{upAiappraise,jdbcType=CHAR},
      </if>
      <if test="upAistatus != null">
        up_aistatus = #{upAistatus,jdbcType=CHAR},
      </if>
      <if test="upUsercode != null">
        up_usercode = #{upUsercode,jdbcType=VARCHAR},
      </if>
      <if test="upAitimes != null">
        up_aitimes = #{upAitimes,jdbcType=INTEGER},
      </if>
      <if test="upAicreatetime != null">
        up_aicreatetime = #{upAicreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="upAiexecutetime != null">
        up_aiexecutetime = #{upAiexecutetime,jdbcType=TIMESTAMP},
      </if>
      <if test="upAipersontime != null">
        up_aipersontime = #{upAipersontime,jdbcType=TIMESTAMP},
      </if>
      <if test="upAitaskid != null">
        up_aitaskid = #{upAitaskid,jdbcType=VARCHAR},
      </if>
      <if test="upAiphone != null">
        up_aiphone = #{upAiphone,jdbcType=VARCHAR},
      </if>
      <if test="extra1 != null">
        extra1 = #{extra1,jdbcType=VARCHAR},
      </if>
      <if test="extra2 != null">
        extra2 = #{extra2,jdbcType=VARCHAR},
      </if>
      <if test="extra3 != null">
        extra3 = #{extra3,jdbcType=VARCHAR},
      </if>
      <if test="extra4 != null">
        extra4 = #{extra4,jdbcType=VARCHAR},
      </if>
      <if test="extra5 != null">
        extra5 = #{extra5,jdbcType=VARCHAR},
      </if>
      <if test="upCluename != null">
        up_cluename = #{upCluename,jdbcType=VARCHAR},
      </if>
      <if test="upAipersonendtime != null">
        up_aipersonendtime = #{upAipersonendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="upAiendtime != null">
        up_aiendtime = #{upAiendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="upTalktime != null">
        up_talktime = #{upTalktime,jdbcType=INTEGER},
      </if>
    </set>
    where up_id = #{upId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jeesite.modules.clue.entity.UpAiinfo">
    update up_aiInfo
    set up_aicode = #{upAicode,jdbcType=VARCHAR},
      up_aiappraise = #{upAiappraise,jdbcType=CHAR},
      up_aistatus = #{upAistatus,jdbcType=CHAR},
      up_usercode = #{upUsercode,jdbcType=VARCHAR},
      up_aitimes = #{upAitimes,jdbcType=INTEGER},
      up_aicreatetime = #{upAicreatetime,jdbcType=TIMESTAMP},
      up_aiexecutetime = #{upAiexecutetime,jdbcType=TIMESTAMP},
      up_aipersontime = #{upAipersontime,jdbcType=TIMESTAMP},
      up_aitaskid = #{upAitaskid,jdbcType=VARCHAR},
      up_aiphone = #{upAiphone,jdbcType=VARCHAR},
      extra1 = #{extra1,jdbcType=VARCHAR},
      extra2 = #{extra2,jdbcType=VARCHAR},
      extra3 = #{extra3,jdbcType=VARCHAR},
      extra4 = #{extra4,jdbcType=VARCHAR},
      extra5 = #{extra5,jdbcType=VARCHAR},
      up_cluename = #{upCluename,jdbcType=VARCHAR},
      up_aipersonendtime = #{upAipersonendtime,jdbcType=TIMESTAMP},
      up_aiendtime = #{upAiendtime,jdbcType=TIMESTAMP},
      up_talktime = #{upTalktime,jdbcType=INTEGER}
    where up_id = #{upId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.jeesite.modules.clue.entity.UpAiinfo">
    <id column="up_id" jdbcType="VARCHAR" property="upId" />
    <result column="up_aicode" jdbcType="VARCHAR" property="upAicode" />
    <result column="up_aiappraise" jdbcType="CHAR" property="upAiappraise" />
    <result column="up_aistatus" jdbcType="CHAR" property="upAistatus" />
    <result column="up_usercode" jdbcType="VARCHAR" property="upUsercode" />
    <result column="up_aitimes" jdbcType="INTEGER" property="upAitimes" />
    <result column="up_aicreatetime" jdbcType="TIMESTAMP" property="upAicreatetime" />
    <result column="up_aiexecutetime" jdbcType="TIMESTAMP" property="upAiexecutetime" />
    <result column="up_aipersontime" jdbcType="TIMESTAMP" property="upAipersontime" />
    <result column="up_aitaskid" jdbcType="VARCHAR" property="upAitaskid" />
    <result column="up_aiphone" jdbcType="VARCHAR" property="upAiphone" />
    <result column="extra1" jdbcType="VARCHAR" property="extra1" />
    <result column="extra2" jdbcType="VARCHAR" property="extra2" />
    <result column="extra3" jdbcType="VARCHAR" property="extra3" />
    <result column="extra4" jdbcType="VARCHAR" property="extra4" />
    <result column="extra5" jdbcType="VARCHAR" property="extra5" />
    <result column="up_cluename" jdbcType="VARCHAR" property="upCluename" />
    <result column="up_aipersonendtime" jdbcType="TIMESTAMP" property="upAipersonendtime" />
    <result column="up_aiendtime" jdbcType="TIMESTAMP" property="upAiendtime" />
    <result column="up_talktime" jdbcType="INTEGER" property="upTalktime" />
  </resultMap>
  <sql id="Base_Column_List">
    up_id, up_aicode, up_aiappraise, up_aistatus, up_usercode, up_aitimes, up_aicreatetime, 
    up_aiexecutetime, up_aipersontime, up_aitaskid, up_aiphone, extra1, extra2, extra3, 
    extra4, extra5, up_cluename, up_aipersonendtime, up_aiendtime, up_talktime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from up_aiinfo
    where up_id = #{upId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from up_aiinfo
    where up_id = #{upId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jeesite.modules.clue.entity.UpAiinfo">
    insert into up_aiinfo (up_id, up_aicode, up_aiappraise, 
      up_aistatus, up_usercode, up_aitimes, 
      up_aicreatetime, up_aiexecutetime, up_aipersontime, 
      up_aitaskid, up_aiphone, extra1, 
      extra2, extra3, extra4, 
      extra5, up_cluename, up_aipersonendtime, 
      up_aiendtime, up_talktime)
    values (#{upId,jdbcType=VARCHAR}, #{upAicode,jdbcType=VARCHAR}, #{upAiappraise,jdbcType=CHAR}, 
      #{upAistatus,jdbcType=CHAR}, #{upUsercode,jdbcType=VARCHAR}, #{upAitimes,jdbcType=INTEGER}, 
      #{upAicreatetime,jdbcType=TIMESTAMP}, #{upAiexecutetime,jdbcType=TIMESTAMP}, #{upAipersontime,jdbcType=TIMESTAMP}, 
      #{upAitaskid,jdbcType=VARCHAR}, #{upAiphone,jdbcType=VARCHAR}, #{extra1,jdbcType=VARCHAR}, 
      #{extra2,jdbcType=VARCHAR}, #{extra3,jdbcType=VARCHAR}, #{extra4,jdbcType=VARCHAR}, 
      #{extra5,jdbcType=VARCHAR}, #{upCluename,jdbcType=VARCHAR}, #{upAipersonendtime,jdbcType=TIMESTAMP}, 
      #{upAiendtime,jdbcType=TIMESTAMP}, #{upTalktime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jeesite.modules.clue.entity.UpAiinfo">
    insert into up_aiinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="upId != null">
        up_id,
      </if>
      <if test="upAicode != null">
        up_aicode,
      </if>
      <if test="upAiappraise != null">
        up_aiappraise,
      </if>
      <if test="upAistatus != null">
        up_aistatus,
      </if>
      <if test="upUsercode != null">
        up_usercode,
      </if>
      <if test="upAitimes != null">
        up_aitimes,
      </if>
      <if test="upAicreatetime != null">
        up_aicreatetime,
      </if>
      <if test="upAiexecutetime != null">
        up_aiexecutetime,
      </if>
      <if test="upAipersontime != null">
        up_aipersontime,
      </if>
      <if test="upAitaskid != null">
        up_aitaskid,
      </if>
      <if test="upAiphone != null">
        up_aiphone,
      </if>
      <if test="extra1 != null">
        extra1,
      </if>
      <if test="extra2 != null">
        extra2,
      </if>
      <if test="extra3 != null">
        extra3,
      </if>
      <if test="extra4 != null">
        extra4,
      </if>
      <if test="extra5 != null">
        extra5,
      </if>
      <if test="upCluename != null">
        up_cluename,
      </if>
      <if test="upAipersonendtime != null">
        up_aipersonendtime,
      </if>
      <if test="upAiendtime != null">
        up_aiendtime,
      </if>
      <if test="upTalktime != null">
        up_talktime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="upId != null">
        #{upId,jdbcType=VARCHAR},
      </if>
      <if test="upAicode != null">
        #{upAicode,jdbcType=VARCHAR},
      </if>
      <if test="upAiappraise != null">
        #{upAiappraise,jdbcType=CHAR},
      </if>
      <if test="upAistatus != null">
        #{upAistatus,jdbcType=CHAR},
      </if>
      <if test="upUsercode != null">
        #{upUsercode,jdbcType=VARCHAR},
      </if>
      <if test="upAitimes != null">
        #{upAitimes,jdbcType=INTEGER},
      </if>
      <if test="upAicreatetime != null">
        #{upAicreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="upAiexecutetime != null">
        #{upAiexecutetime,jdbcType=TIMESTAMP},
      </if>
      <if test="upAipersontime != null">
        #{upAipersontime,jdbcType=TIMESTAMP},
      </if>
      <if test="upAitaskid != null">
        #{upAitaskid,jdbcType=VARCHAR},
      </if>
      <if test="upAiphone != null">
        #{upAiphone,jdbcType=VARCHAR},
      </if>
      <if test="extra1 != null">
        #{extra1,jdbcType=VARCHAR},
      </if>
      <if test="extra2 != null">
        #{extra2,jdbcType=VARCHAR},
      </if>
      <if test="extra3 != null">
        #{extra3,jdbcType=VARCHAR},
      </if>
      <if test="extra4 != null">
        #{extra4,jdbcType=VARCHAR},
      </if>
      <if test="extra5 != null">
        #{extra5,jdbcType=VARCHAR},
      </if>
      <if test="upCluename != null">
        #{upCluename,jdbcType=VARCHAR},
      </if>
      <if test="upAipersonendtime != null">
        #{upAipersonendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="upAiendtime != null">
        #{upAiendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="upTalktime != null">
        #{upTalktime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jeesite.modules.clue.entity.UpAiinfo">
    update up_aiinfo
    <set>
      <if test="upAicode != null">
        up_aicode = #{upAicode,jdbcType=VARCHAR},
      </if>
      <if test="upAiappraise != null">
        up_aiappraise = #{upAiappraise,jdbcType=CHAR},
      </if>
      <if test="upAistatus != null">
        up_aistatus = #{upAistatus,jdbcType=CHAR},
      </if>
      <if test="upUsercode != null">
        up_usercode = #{upUsercode,jdbcType=VARCHAR},
      </if>
      <if test="upAitimes != null">
        up_aitimes = #{upAitimes,jdbcType=INTEGER},
      </if>
      <if test="upAicreatetime != null">
        up_aicreatetime = #{upAicreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="upAiexecutetime != null">
        up_aiexecutetime = #{upAiexecutetime,jdbcType=TIMESTAMP},
      </if>
      <if test="upAipersontime != null">
        up_aipersontime = #{upAipersontime,jdbcType=TIMESTAMP},
      </if>
      <if test="upAitaskid != null">
        up_aitaskid = #{upAitaskid,jdbcType=VARCHAR},
      </if>
      <if test="upAiphone != null">
        up_aiphone = #{upAiphone,jdbcType=VARCHAR},
      </if>
      <if test="extra1 != null">
        extra1 = #{extra1,jdbcType=VARCHAR},
      </if>
      <if test="extra2 != null">
        extra2 = #{extra2,jdbcType=VARCHAR},
      </if>
      <if test="extra3 != null">
        extra3 = #{extra3,jdbcType=VARCHAR},
      </if>
      <if test="extra4 != null">
        extra4 = #{extra4,jdbcType=VARCHAR},
      </if>
      <if test="extra5 != null">
        extra5 = #{extra5,jdbcType=VARCHAR},
      </if>
      <if test="upCluename != null">
        up_cluename = #{upCluename,jdbcType=VARCHAR},
      </if>
      <if test="upAipersonendtime != null">
        up_aipersonendtime = #{upAipersonendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="upAiendtime != null">
        up_aiendtime = #{upAiendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="upTalktime != null">
        up_talktime = #{upTalktime,jdbcType=INTEGER},
      </if>
    </set>
    where up_id = #{upId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jeesite.modules.clue.entity.UpAiinfo">
    update up_aiinfo
    set up_aicode = #{upAicode,jdbcType=VARCHAR},
      up_aiappraise = #{upAiappraise,jdbcType=CHAR},
      up_aistatus = #{upAistatus,jdbcType=CHAR},
      up_usercode = #{upUsercode,jdbcType=VARCHAR},
      up_aitimes = #{upAitimes,jdbcType=INTEGER},
      up_aicreatetime = #{upAicreatetime,jdbcType=TIMESTAMP},
      up_aiexecutetime = #{upAiexecutetime,jdbcType=TIMESTAMP},
      up_aipersontime = #{upAipersontime,jdbcType=TIMESTAMP},
      up_aitaskid = #{upAitaskid,jdbcType=VARCHAR},
      up_aiphone = #{upAiphone,jdbcType=VARCHAR},
      extra1 = #{extra1,jdbcType=VARCHAR},
      extra2 = #{extra2,jdbcType=VARCHAR},
      extra3 = #{extra3,jdbcType=VARCHAR},
      extra4 = #{extra4,jdbcType=VARCHAR},
      extra5 = #{extra5,jdbcType=VARCHAR},
      up_cluename = #{upCluename,jdbcType=VARCHAR},
      up_aipersonendtime = #{upAipersonendtime,jdbcType=TIMESTAMP},
      up_aiendtime = #{upAiendtime,jdbcType=TIMESTAMP},
      up_talktime = #{upTalktime,jdbcType=INTEGER}
    where up_id = #{upId,jdbcType=VARCHAR}
  </update>
  <select id="getExistClue" resultType="java.util.HashMap">
  	select 
  	up_aicode,up_aiphone 
  	from up_aiinfo 
  	where up_usercode = #{userId} 
  	and up_aistatus = '1'
  </select>
  <select id="getUpAiInfoList" resultMap="BaseResultMap" parameterType="com.jeesite.modules.clue.vo.ClueVo">
  	select
  	<include refid="Base_Column_List" />
    from up_aiinfo where 1=1
    <if test="beginTime!=null and beginTime!=''">
      and up_aicreatetime <![CDATA[ >= ]]> #{beginTime}
    </if>
    <if test="endTime!=null and endTime!=''">
      and up_aicreatetime <![CDATA[ <= ]]> #{endTime}
    </if>
    <if test="userCode!=null and userCode!=''">
      and up_usercode = #{userCode}
    </if>
    and up_aistatus = '2'
    UNION
    select
    <include refid="Base_Column_List" />
    from up_aiinfo where 1=1
    <if test="beginTime!=null and beginTime!=''">
      and up_aicreatetime <![CDATA[ >= ]]> #{beginTime}
    </if>
    <if test="endTime!=null and endTime!=''">
      and up_aicreatetime <![CDATA[ <= ]]> #{endTime}
    </if>
    <if test="userCode!=null and userCode!=''">
      and up_usercode = #{userCode}
    </if>
    and up_aistatus <![CDATA[ <> ]]> '2'
    and DATEDIFF(
		NOW(),
		up_aicreatetime
	) &lt; 14
  </select>
  <update id="updateAiInfoByUserCodeUpClueCode">
  	update up_aiinfo
  	set up_aitaskid = #{upClueTaskid}
  	where up_usercode = #{userCode}
  	and up_aicode = #{upClueCode}
  </update>
  <select id="getMatchClueByUserCodeAndClueCode" resultMap="BaseResultMap">
  	select up_id, up_aicode, up_aiappraise, up_aistatus, 
      up_usercode, up_aitimes, up_aicreatetime, 
      up_aiexecutetime, up_aipersontime, up_aitaskid, 
      up_aiphone, extra1, extra2, 
      extra3, extra4, extra5, 
      up_cluename
    from up_aiinfo
    where up_aicode = #{upClueCode}
    and up_usercode = #{userCode}
  </select>
</mapper>