<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jeesite.modules.clue.mapper.UpClueMapper" >
  <resultMap id="BaseResultMap" type="com.jeesite.modules.clue.entity.UpClue" >
    <id column="up_clue_code" property="upClueCode" jdbcType="VARCHAR" />
    <result column="up_clue_time" property="upClueTime" jdbcType="TIMESTAMP" />
    <result column="up_user_code" property="upUserCode" jdbcType="VARCHAR" />
    <result column="up_clue_name" property="upClueName" jdbcType="VARCHAR" />
    <result column="up_clue_tel" property="upClueTel" jdbcType="VARCHAR" />
    <result column="up_clue_sex" property="upClueSex" jdbcType="CHAR" />
    <result column="up_clue_addre" property="upClueAddre" jdbcType="VARCHAR" />
    <result column="up_clue_status" property="upClueStatus" jdbcType="CHAR" />
    <result column="up_clue_appraise" property="upClueAppraise" jdbcType="CHAR" />
    <result column="up_clue_age" property="upClueAge" jdbcType="INTEGER" />
    <result column="up_clue_longitude" property="upClueLongitude" jdbcType="DOUBLE" />
    <result column="up_clue_latitude" property="upClueLatitude" jdbcType="DOUBLE" />
    <result column="up_clue_matchtime" property="upClueMatchtime" jdbcType="DATE" />
    <result column="extra1" property="extra1" jdbcType="VARCHAR" />
    <result column="extra2" property="extra2" jdbcType="VARCHAR" />
    <result column="extra3" property="extra3" jdbcType="VARCHAR" />
    <result column="extra4" property="extra4" jdbcType="VARCHAR" />
    <result column="extra5" property="extra5" jdbcType="VARCHAR" />
    <result column="up_clue_depttype" property="upClueDepttype" jdbcType="VARCHAR" />
    <result column="up_clue_taskId" property="upClueTaskid" jdbcType="VARCHAR" />
    <result column="up_aiexecutetime" property="upAiexecutetime" jdbcType="TIMESTAMP" />
    <result column="up_aipersontime" property="upAipersontime" jdbcType="TIMESTAMP" />
    <result column="up_aipersonendtime" property="upAipersonendtime" jdbcType="TIMESTAMP" />
    <result column="up_aiendtime" property="upAiendtime" jdbcType="TIMESTAMP" />
    <result column="up_talktime" property="upTalktime" jdbcType="INTEGER" />
    <result column="up_isEffective" property="upIseffective" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    up_clue_code, up_clue_time, up_user_code, up_clue_name, up_clue_tel, up_clue_sex, 
    up_clue_addre, up_clue_status, up_clue_appraise, up_clue_age, up_clue_longitude, 
    up_clue_latitude, up_clue_matchtime, extra1, extra2, extra3, extra4, extra5, up_clue_depttype, 
    up_clue_taskId, up_aiexecutetime, up_aipersontime, up_aipersonendtime, up_aiendtime, 
    up_talktime, up_isEffective
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from up_clue
    where up_clue_code = #{upClueCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from up_clue
    where up_clue_code = #{upClueCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jeesite.modules.clue.entity.UpClue" >
    insert into up_clue (up_clue_code, up_clue_time, up_user_code, 
      up_clue_name, up_clue_tel, up_clue_sex, 
      up_clue_addre, up_clue_status, up_clue_appraise, 
      up_clue_age, up_clue_longitude, up_clue_latitude, 
      up_clue_matchtime, extra1, extra2, 
      extra3, extra4, extra5, 
      up_clue_depttype, up_clue_taskId, up_aiexecutetime, 
      up_aipersontime, up_aipersonendtime, 
      up_aiendtime, up_talktime, up_isEffective
      )
    values (#{upClueCode,jdbcType=VARCHAR}, #{upClueTime,jdbcType=TIMESTAMP}, #{upUserCode,jdbcType=VARCHAR}, 
      #{upClueName,jdbcType=VARCHAR}, #{upClueTel,jdbcType=VARCHAR}, #{upClueSex,jdbcType=CHAR}, 
      #{upClueAddre,jdbcType=VARCHAR}, #{upClueStatus,jdbcType=CHAR}, #{upClueAppraise,jdbcType=CHAR}, 
      #{upClueAge,jdbcType=INTEGER}, #{upClueLongitude,jdbcType=DOUBLE}, #{upClueLatitude,jdbcType=DOUBLE}, 
      #{upClueMatchtime,jdbcType=DATE}, #{extra1,jdbcType=VARCHAR}, #{extra2,jdbcType=VARCHAR}, 
      #{extra3,jdbcType=VARCHAR}, #{extra4,jdbcType=VARCHAR}, #{extra5,jdbcType=VARCHAR}, 
      #{upClueDepttype,jdbcType=VARCHAR}, #{upClueTaskid,jdbcType=VARCHAR}, #{upAiexecutetime,jdbcType=TIMESTAMP}, 
      #{upAipersontime,jdbcType=TIMESTAMP}, #{upAipersonendtime,jdbcType=TIMESTAMP}, 
      #{upAiendtime,jdbcType=TIMESTAMP}, #{upTalktime,jdbcType=INTEGER}, #{upIseffective,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jeesite.modules.clue.entity.UpClue" >
    insert into up_clue
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="upClueCode != null" >
        up_clue_code,
      </if>
      <if test="upClueTime != null" >
        up_clue_time,
      </if>
      <if test="upUserCode != null" >
        up_user_code,
      </if>
      <if test="upClueName != null" >
        up_clue_name,
      </if>
      <if test="upClueTel != null" >
        up_clue_tel,
      </if>
      <if test="upClueSex != null" >
        up_clue_sex,
      </if>
      <if test="upClueAddre != null" >
        up_clue_addre,
      </if>
      <if test="upClueStatus != null" >
        up_clue_status,
      </if>
      <if test="upClueAppraise != null" >
        up_clue_appraise,
      </if>
      <if test="upClueAge != null" >
        up_clue_age,
      </if>
      <if test="upClueLongitude != null" >
        up_clue_longitude,
      </if>
      <if test="upClueLatitude != null" >
        up_clue_latitude,
      </if>
      <if test="upClueMatchtime != null" >
        up_clue_matchtime,
      </if>
      <if test="extra1 != null" >
        extra1,
      </if>
      <if test="extra2 != null" >
        extra2,
      </if>
      <if test="extra3 != null" >
        extra3,
      </if>
      <if test="extra4 != null" >
        extra4,
      </if>
      <if test="extra5 != null" >
        extra5,
      </if>
      <if test="upClueDepttype != null" >
        up_clue_depttype,
      </if>
      <if test="upClueTaskid != null" >
        up_clue_taskId,
      </if>
      <if test="upAiexecutetime != null" >
        up_aiexecutetime,
      </if>
      <if test="upAipersontime != null" >
        up_aipersontime,
      </if>
      <if test="upAipersonendtime != null" >
        up_aipersonendtime,
      </if>
      <if test="upAiendtime != null" >
        up_aiendtime,
      </if>
      <if test="upTalktime != null" >
        up_talktime,
      </if>
      <if test="upIseffective != null" >
        up_isEffective,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="upClueCode != null" >
        #{upClueCode,jdbcType=VARCHAR},
      </if>
      <if test="upClueTime != null" >
        #{upClueTime,jdbcType=TIMESTAMP},
      </if>
      <if test="upUserCode != null" >
        #{upUserCode,jdbcType=VARCHAR},
      </if>
      <if test="upClueName != null" >
        #{upClueName,jdbcType=VARCHAR},
      </if>
      <if test="upClueTel != null" >
        #{upClueTel,jdbcType=VARCHAR},
      </if>
      <if test="upClueSex != null" >
        #{upClueSex,jdbcType=CHAR},
      </if>
      <if test="upClueAddre != null" >
        #{upClueAddre,jdbcType=VARCHAR},
      </if>
      <if test="upClueStatus != null" >
        #{upClueStatus,jdbcType=CHAR},
      </if>
      <if test="upClueAppraise != null" >
        #{upClueAppraise,jdbcType=CHAR},
      </if>
      <if test="upClueAge != null" >
        #{upClueAge,jdbcType=INTEGER},
      </if>
      <if test="upClueLongitude != null" >
        #{upClueLongitude,jdbcType=DOUBLE},
      </if>
      <if test="upClueLatitude != null" >
        #{upClueLatitude,jdbcType=DOUBLE},
      </if>
      <if test="upClueMatchtime != null" >
        #{upClueMatchtime,jdbcType=DATE},
      </if>
      <if test="extra1 != null" >
        #{extra1,jdbcType=VARCHAR},
      </if>
      <if test="extra2 != null" >
        #{extra2,jdbcType=VARCHAR},
      </if>
      <if test="extra3 != null" >
        #{extra3,jdbcType=VARCHAR},
      </if>
      <if test="extra4 != null" >
        #{extra4,jdbcType=VARCHAR},
      </if>
      <if test="extra5 != null" >
        #{extra5,jdbcType=VARCHAR},
      </if>
      <if test="upClueDepttype != null" >
        #{upClueDepttype,jdbcType=VARCHAR},
      </if>
      <if test="upClueTaskid != null" >
        #{upClueTaskid,jdbcType=VARCHAR},
      </if>
      <if test="upAiexecutetime != null" >
        #{upAiexecutetime,jdbcType=TIMESTAMP},
      </if>
      <if test="upAipersontime != null" >
        #{upAipersontime,jdbcType=TIMESTAMP},
      </if>
      <if test="upAipersonendtime != null" >
        #{upAipersonendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="upAiendtime != null" >
        #{upAiendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="upTalktime != null" >
        #{upTalktime,jdbcType=INTEGER},
      </if>
      <if test="upIseffective != null" >
        #{upIseffective,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jeesite.modules.clue.entity.UpClue" >
    update up_clue
    <set >
      <if test="upClueTime != null" >
        up_clue_time = #{upClueTime,jdbcType=TIMESTAMP},
      </if>
      <if test="upUserCode != null" >
        up_user_code = #{upUserCode,jdbcType=VARCHAR},
      </if>
      <if test="upClueName != null" >
        up_clue_name = #{upClueName,jdbcType=VARCHAR},
      </if>
      <if test="upClueTel != null" >
        up_clue_tel = #{upClueTel,jdbcType=VARCHAR},
      </if>
      <if test="upClueSex != null" >
        up_clue_sex = #{upClueSex,jdbcType=CHAR},
      </if>
      <if test="upClueAddre != null" >
        up_clue_addre = #{upClueAddre,jdbcType=VARCHAR},
      </if>
      <if test="upClueStatus != null" >
        up_clue_status = #{upClueStatus,jdbcType=CHAR},
      </if>
      <if test="upClueAppraise != null" >
        up_clue_appraise = #{upClueAppraise,jdbcType=CHAR},
      </if>
      <if test="upClueAge != null" >
        up_clue_age = #{upClueAge,jdbcType=INTEGER},
      </if>
      <if test="upClueLongitude != null" >
        up_clue_longitude = #{upClueLongitude,jdbcType=DOUBLE},
      </if>
      <if test="upClueLatitude != null" >
        up_clue_latitude = #{upClueLatitude,jdbcType=DOUBLE},
      </if>
      <if test="upClueMatchtime != null" >
        up_clue_matchtime = #{upClueMatchtime,jdbcType=DATE},
      </if>
      <if test="extra1 != null" >
        extra1 = #{extra1,jdbcType=VARCHAR},
      </if>
      <if test="extra2 != null" >
        extra2 = #{extra2,jdbcType=VARCHAR},
      </if>
      <if test="extra3 != null" >
        extra3 = #{extra3,jdbcType=VARCHAR},
      </if>
      <if test="extra4 != null" >
        extra4 = #{extra4,jdbcType=VARCHAR},
      </if>
      <if test="extra5 != null" >
        extra5 = #{extra5,jdbcType=VARCHAR},
      </if>
      <if test="upClueDepttype != null" >
        up_clue_depttype = #{upClueDepttype,jdbcType=VARCHAR},
      </if>
      <if test="upClueTaskid != null" >
        up_clue_taskId = #{upClueTaskid,jdbcType=VARCHAR},
      </if>
      <if test="upAiexecutetime != null" >
        up_aiexecutetime = #{upAiexecutetime,jdbcType=TIMESTAMP},
      </if>
      <if test="upAipersontime != null" >
        up_aipersontime = #{upAipersontime,jdbcType=TIMESTAMP},
      </if>
      <if test="upAipersonendtime != null" >
        up_aipersonendtime = #{upAipersonendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="upAiendtime != null" >
        up_aiendtime = #{upAiendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="upTalktime != null" >
        up_talktime = #{upTalktime,jdbcType=INTEGER},
      </if>
      <if test="upIseffective != null" >
        up_isEffective = #{upIseffective,jdbcType=CHAR},
      </if>
    </set>
    where up_clue_code = #{upClueCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jeesite.modules.clue.entity.UpClue" >
    update up_clue
    set up_clue_time = #{upClueTime,jdbcType=TIMESTAMP},
      up_user_code = #{upUserCode,jdbcType=VARCHAR},
      up_clue_name = #{upClueName,jdbcType=VARCHAR},
      up_clue_tel = #{upClueTel,jdbcType=VARCHAR},
      up_clue_sex = #{upClueSex,jdbcType=CHAR},
      up_clue_addre = #{upClueAddre,jdbcType=VARCHAR},
      up_clue_status = #{upClueStatus,jdbcType=CHAR},
      up_clue_appraise = #{upClueAppraise,jdbcType=CHAR},
      up_clue_age = #{upClueAge,jdbcType=INTEGER},
      up_clue_longitude = #{upClueLongitude,jdbcType=DOUBLE},
      up_clue_latitude = #{upClueLatitude,jdbcType=DOUBLE},
      up_clue_matchtime = #{upClueMatchtime,jdbcType=DATE},
      extra1 = #{extra1,jdbcType=VARCHAR},
      extra2 = #{extra2,jdbcType=VARCHAR},
      extra3 = #{extra3,jdbcType=VARCHAR},
      extra4 = #{extra4,jdbcType=VARCHAR},
      extra5 = #{extra5,jdbcType=VARCHAR},
      up_clue_depttype = #{upClueDepttype,jdbcType=VARCHAR},
      up_clue_taskId = #{upClueTaskid,jdbcType=VARCHAR},
      up_aiexecutetime = #{upAiexecutetime,jdbcType=TIMESTAMP},
      up_aipersontime = #{upAipersontime,jdbcType=TIMESTAMP},
      up_aipersonendtime = #{upAipersonendtime,jdbcType=TIMESTAMP},
      up_aiendtime = #{upAiendtime,jdbcType=TIMESTAMP},
      up_talktime = #{upTalktime,jdbcType=INTEGER},
      up_isEffective = #{upIseffective,jdbcType=CHAR}
    where up_clue_code = #{upClueCode,jdbcType=VARCHAR}
  </update>
  <select id="effectiveClue" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select 
   	count(*)
    from up_clue
    where up_clue_name = #{upClueName,jdbcType=VARCHAR}
    and up_clue_tel = #{upClueTel,jdbcType=VARCHAR}
    and up_user_code = #{upClueCode,jdbcType=VARCHAR}
  </select>
  <select id="getUpClueList" resultMap="BaseResultMap" parameterType="com.jeesite.modules.clue.vo.ClueVo" >
    select 
    <include refid="Base_Column_List" />
    from up_clue where 1=1
    <if test="beginTime!=null and beginTime!=''">
      and up_clue_time <![CDATA[ >= ]]> #{beginTime}
    </if>
    <if test="endTime!=null and endTime!=''">
      and up_clue_time <![CDATA[ <= ]]> #{endTime}
    </if>
    <if test="status!=null and status!=''">
      and up_clue_status = #{status}
    </if>
    <if test="userCode!=null and userCode!=''">
      and up_user_code = #{userCode}
    </if>
    order by up_clue_time desc
  </select>
  <select id="getMatchClue" resultType="java.util.HashMap" >
  	select 
  	t.up_clue_code as up_aicode,t.up_clue_tel as up_aiphone,t.up_clue_name as up_cluename
  	from up_clue t where 1=1 
  	and DATEDIFF(
		NOW(),
		t.up_clue_matchtime
	) &gt; 3
	or up_clue_matchtime is NULL
	and t.up_user_code <![CDATA[ <> ]]> #{userId}
	and t.up_clue_depttype <![CDATA[ <> ]]> #{deptType}
	and t.up_clue_longitude &gt; #{minlng}
	and t.up_clue_longitude &lt; #{maxlng}
	and t.up_clue_latitude &gt; #{minlat}
	and t.up_clue_latitude &lt; #{maxlat}
	and up_isEffective = '1'
  </select>
  <update id="updateMatchTime">
  	update up_clue
  	set up_clue_matchtime = #{date}
  	where up_clue_code = #{clueCode}
  </update>
  <select id="getNoConfigAddress" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from up_clue
    where up_clue_longitude = "" || up_clue_longitude is null
  </select>
  <select id="getIntentionClue" resultType="java.util.HashMap">
  	select t.up_aiendtime as upAiendtime ,t.up_aipersontime,t.up_clue_tel as up_aiphone,'1' as source
  	from up_clue t where 1=1 
  	and t.up_user_code = #{userCode} 
  	and t.up_clue_appraise='1' 
  	UNION 
  	select m.up_aiendtime as upAiendtime,m.up_aipersontime,m.up_aiphone , '2' as source	
  	from up_aiinfo m 
  	where m.up_usercode=#{userCode}
  	and m.up_aiappraise='1'
  	and m.up_aipersonendtime is not null
  	and DATEDIFF(
		NOW(),
		m.up_aipersonendtime
	) &lt; 14
	UNION
	select m.up_aiendtime as upAiendtime,m.up_aipersontime,m.up_aiphone ,'2' as source
  	from up_aiinfo m 
  	where m.up_usercode=#{userCode}
  	and m.up_aiappraise='1'
  	and m.up_aipersonendtime is null
  </select>
</mapper>